name: Helm Chart Validation
on: [push, pull_request]

jobs:
  validate-chart:
    runs-on: ubuntu-latest
    steps:
      # 1. Check out your code
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          repository: wgcma/nginx-helm-dev
          path: ws

      # 2. Install Helm on runner
      - name: Set up Chart Testing
        uses: helm/chart-testing-action@v2.6.1

      # 3. Run the Lint command
      # Replace 'charts/my-app' with the path to your chart folder
      - name: Lint Helm Chart
        run: |
          helm lint ./ws/infra

      # 4. "Hello World" - Dry run to see if it renders
      - name: Test Template Rendering
        run: |
          helm template test-release-${{ github.run_id }} ./ws/infra --debug
